@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}

div {
	display: block;
}

.clear {
	clear: both;
}

.container {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	position: relative;
	padding: 0;
}

.header {
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 18px;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	border-bottom: thick solid #333333;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}

footer {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	border-top: solid #333333;
}

.header .brand:hover {
	text-decoration: none;
}

.header .brand {
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #333333;
	text-decoration: none;
	float: left;
}

a {
	color: #333333;
}

a:hover {
	color: #555555;
	text-decoration: none;
}

h2 a {
	text-decoration: none;
}

.content {
	display: block;
}

p.profileLink {
	float: right;
}

ul.polaroids {
	width: 970px;
	margin: 0 0 18px -30px;
	margin-left: auto;
	margin-right: auto;
}

ul.polaroids li {
	display: inline;
}

ul.polaroids a {
	background: #fff;
	display: inline;
	float: left;
	margin: 0 0 27px 30px;
	width: auto;
	padding: 10px 10px 15px;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	-webkit-transform: rotate(-2deg);
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transform: rotate(-2deg);
}

ul.polaroids img {
	display: block;
	width: 165px;
	margin-bottom: 10px;
}

ul.polaroids a:after {
	content: attr(title);
}

/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
	position: relative;
	top: 8px;
	right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
	position: relative;
	top: 3px;
	left: -5px;
}

ul.polaroids li.messy a {
	margin-top: -375px;
	margin-left: 160px;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
}

ul.polaroids li a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	position: relative;
	z-index: 5;
}

/* Polaroids pour albums */
ul.polaroids_albums {
	margin: 0 0 18px -30px;
	margin-left: auto;
	margin-right: auto;
}

ul.polaroids_albums li {
	display: inline;
}

ul.polaroids_albums a {
	background: #fff;
	display: inline;
	float: left;
	margin: 0 0 27px 30px;
	width: auto;
	padding: 5px 5px 5px;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

ul.polaroids_albums img {
	display: block;
	width: 165px;
}

ul.polaroids_albums li a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
	position: relative;
	z-index: 5;
}